//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿
// LAYOUT
//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿

$baseURL: "http://icaro-designs.com/images/";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 2560px;
  height: 100%;
  background-color: $dark-purple;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 17px;
  margin: auto;
  color: $white;
  overflow: initial !important;

  &.no-scroll {
    overflow: hidden;
  }
}

.main-content {
  @include size(100%);
  min-width: 320px;
  max-width: 1920px;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 40px;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.none {
  display: none!important;
}

a {
  text-decoration: none;
  color: $light-purple;

  &:hover {
    color: white;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;

  a {
    text-decoration: none;
  }
}

img[data-src] {
  /* we set the opacity to 0 */
  opacity: 0;
}

img[lazy=loaded] {
  -webkit-transition: opacity 0.5s linear 0.2s;
  -moz-transition: opacity 0.5s linear 0.2s;
  opacity: 1;
  transition: opacity 0.5s linear 0.2s;
}

h1,
h3 {
  color: $dark-purple;
  padding: 0px;
  letter-spacing: 1.5px;
  font-family: "Handlee", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.4em;
  padding: 10px 0;
  text-align: center;
}

h2 {
  font-family: "Handlee", sans-serif;
  font-size: 2.5em;
  margin: 0px;
  letter-spacing: 1.5px;
  color: $light-purple;
  line-height: 1.4em;
  text-align: left;
}
