//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿
// PORTFOLIO
//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿
@use "../config/mixins";
@use "../config/colors";

.portfolio-wrapper {
  background-color: $beige;
  margin-top: -14px;
  position: relative;
  text-align: center;
  margin: auto;
  color: $dark-brown;
  padding: 70px 0 0;

  .underline {
    @include size(70px, 3px);
    background: #333333;
    margin: 0px auto 40px;
  }

  .contenu {
    margin: auto;
    min-height: 100px;
    padding: 10px 0px;
    width: 85%;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    overflow: hidden;
    max-width: 1300px;
    justify-content: center;
    padding-bottom: 30px;

    .item {
      height: 300px;
      margin: 14px 7px 0 7px;
    }

    .card {
      @include size(300px);
      background-size: contain;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border: solid 8px white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      &:hover > .card-hover {
        opacity: 1;
      }

      .card-hover {
        position: absolute;
        background: rgba(48, 48, 48, 0.8);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 300ms;
        cursor: pointer;
        color: white;
        font-size: 13px;

        .title {
          font-size: 16px;
          display: block;
          padding: 10px 0px;
          margin: 40px 20px 20px 20px;
          text-transform: uppercase;
          font-weight: normal;
          color: rgba(255, 255, 255, 0.9);
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        span {
          padding: 0 10px;
          text-align: center;
        }
      }
    }

    .card[lazy="loaded"] {
      opacity: 0;
      animation-name: fadein;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-direction: normal;
      animation-timing-function: ease-out;
      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  .bottom-portfolio {
    display: block;
  }
}
.portfolio-page {
  .portfolio-banner {
    width: 100%;
    padding: 80px;
    background-image: url("~@/assets/images/about-bg.jpg");
    border-bottom: solid 15px $brown;
    color: white;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: white;
    }
  }

  .portfolio-labels {
    max-width: 900px;
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    .label {
      background-color: $brown;
      color: white;
      padding: 8px 12px;
      border-radius: 20px;
      font-size: 0.9rem;
      text-transform: capitalize;
    }
  }

  .portfolio-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 0;
    font-size: 0.9rem;
    line-height: 1.4rem;

    .portfolio-item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 20px;
      margin-bottom: 80px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .portfolio-media {
        flex: 1 1 50%;
        img,
        video {
          width: 100%;
          object-fit: cover;
          padding: 0 10px;
        }
      }

      .portfolio-description {
        flex: 1 1 50%;
        max-width: 550px;
        padding: 40px 20px;
        p {
          margin-bottom: 16px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .portfolio-item {
      flex-direction: column !important;

      .portfolio-image,
      .portfolio-description {
        flex: 1 1 100%;
      }
    }
  }
}
.back-to-portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  background-color: $light-green;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  .arrow-left {
    margin-right: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: $green-hover;
    color: $white;
  }
}
