//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿
// RESPONSIVE
//⦿⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦂⦿

@media screen and (min-width: 1700px) {
  body {
    font-size: 18px !important;
  }
  .about-description {
    padding: 20px 0 150px 0 !important;
    font-size: 1.2em !important;
  }
  .animated-text ul {
    padding-left: 125px !important;
    margin-top: 5px !important;
  }
  .header-wrapper .screen {
    top: 41%;
    left: 46.8%;
    width: 11.5%;
    height: 14%;
  }
}

@media screen and (max-width: 1200px) {
  .about-container {
    width: 90% !important;
  }
  .contenu {
    width: 100% !important;
  }
  .header-wrapper {
    .ban1 {
      background-position: top center;
    }

    .ban3 {
      margin-top: -30px;
    }
    .screen {
      top: 40%;
      left: 43%;
    }
  }
}

@media screen and (max-width: 900px) {
  .animated-hide {
    display: none !important;
  }

  .header-wrapper .screen {
    top: 38%;
    left: 42%;
  }

  .about-wrapper .vines {
    margin-top: -70px;
    height: 150px;
  }

  .animated-show {
    display: block !important;
  }
  h2 {
    font-size: 2.2em !important;
  }
  .about-container td {
    line-height: 1.5em !important;
  }
  .ban1 {
    background-size: auto 500px !important;
  }
  .footer-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 2em !important;
  }
  .about-container td {
    line-height: 1.5em !important;
    font-size: 0.9em !important;
  }
  .couch {
    width: 200px !important;
    margin-left: -40px !important;
  }
  .bookshelf {
    width: 65px !important;
  }
  .plant {
    width: 100px !important;
  }

  .portfolio {
    .expander.open {
      height: 1100px !important;
    }
    .details,
    .full-image {
      width: 100% !important;
      float: none !important;
      height: auto !important;
    }
    .full-image {
      padding: 60px 30px 0 !important;
    }
    .full-image img {
      max-height: 400px !important;
    }
    .details p {
      font-size: 0.9em;
    }
  }
  .item.extended {
    height: 1100px !important;
  }
}

@media screen and (max-width: 700px) {
  .about-container td {
    width: 100% !important;
    display: block !important;
  }
  .header-wrapper .screen {
    top: 37%;
    left: 40%;
  }
  .couch-container,
  .light,
  .totoro-eyes {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
  .about-CV {
    position: initial !important;
  }
  .about-CV .button {
    margin: 20px auto !important;
  }
  .about-description {
    padding-bottom: 280px !important;
  }
  .about-wrapper .separation {
    height: 40px !important;
  }

  .footer-wrapper,
  .footer-wrapper .footer-container,
  .footer-wrapper .footer-container .phone-container {
    padding: 0;
    height: 240px;

    .phone-container {
      width: 500px;
    }

    .phone,
    .handler {
      @include position(absolute, 77px, 47px, auto, auto);
    }

    .bulle {
      right: 36px;
      top: 43px;

      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ban3 {
    margin-left: -220px !important;
  }
  .ban4 {
    margin-left: -150px !important;
  }
  .header-wrapper .screen {
    top: 37%;
    left: 23%;
  }

  .animated-text {
    font-size: 2.5em !important;
  }
  .animated-text .text {
    margin-top: 6px !important;
  }
  .animated-text ul {
    padding-left: 100px !important;
  }

  .footer-wrapper,
  .footer-wrapper .footer-container,
  .footer-wrapper .footer-container .phone-container {
    height: 200px;

    .phone-container {
      width: 360px;
    }

    .phone,
    .handler {
      @include position(absolute, 60px, 10px, auto, auto);
      width: 60px;
      background-size: contain;
    }

    .bulle {
      right: -20px;
      top: -22px;
    }
  }
}

@media screen and (max-width: 500px) {
  .ban3 {
    margin-left: -250px !important;
  }
  .ban4 {
    margin-left: -180px !important;
    margin-top: -5px !important;
  }
  .header-wrapper .screen {
    left: 20%;
  }
  .animated-text {
    font-size: 2.2em !important;
  }
  .animated-text .text {
    margin-top: 9px !important;
  }
  .animated-text ul {
    padding-left: 90px !important;
  }
  .animated-text .container {
    padding: 0 30px !important;
  }
  .cocci {
    width: 15px !important;
  }
  .couch-container,
  .light,
  .totoro-eyes {
    width: 380px !important;
    height: 200px !important;
  }
  .about-description {
    padding-bottom: 250px !important;
  }
  .logo-wrapper {
    padding: 0 !important;
  }
  .portfolio .details {
    line-height: 1.3em !important;
    text-align: left !important;
    padding: 15px !important;
  }
}

@media screen and (max-width: 420px) {
  .header-wrapper {
    min-height: 310px !important;
    .screen {
      top: 39%;
    }
  }
  .animated-text {
    font-size: 2em !important;
  }
  .animated-text .text {
    margin-top: 11px !important;
  }
  .animated-text ul {
    padding-left: 80px !important;
  }
  .about-container td {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .animated2-hide {
    display: none !important;
  }
  .animated2-show {
    display: block !important;
  }
  .portfolio-wrapper .portfolio .expander a {
    padding: 5px 15px !important;
  }
  h3 {
    line-height: 1em !important;
  }
  .bulle {
    right: -10px !important;
  }
}

@media screen and (max-width: 360px) {
  .header-wrapper {
    min-height: 310px !important;
  }
  .animated-text {
    font-size: 2em !important;
  }
  .animated-text .text {
    margin-top: 11px !important;
  }
  .animated-text ul {
    padding-left: 80px !important;
  }
  .about-container td {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .couch-container,
  .light,
  .totoro-eyes {
    width: 320px !important;
    height: 200px !important;
  }
  .animated2-hide {
    display: none !important;
  }
  .animated2-show {
    display: block !important;
  }
  .logo-wrapper .logo {
    max-width: 130px !important;
  }
}
