@charset "utf-8";
/* CSS Document */


img {max-width:100%;}

.wrapper {
	width: 728px;
	height:90px;
	background-image:url(img/bg.jpg);
	background-repeat:no-repeat;
	position:absolute;
	min-width:240px;
	max-width:100%;
	overflow:hidden;
}

#logo{
	position:absolute;
	left:3px;
	min-width:120px;
	z-index:50;
}


#chara1, #chara2, #chara3, #chara4, #chara5{
	position:absolute;
	bottom:0;
}


#red, #win, #click{
	position:absolute;
	right:0;
	height:90px;
	width:214px;
}

#red{
	z-index:13;
}

#win{
	z-index:14;
}

#click{
	z-index:15;
}

#chara1{
	z-index:10;
	left:48%;
}

#chara2{
	z-index:9;
	left:54%;
}

#chara3{
	z-index:8;
	left:40%;
}

#chara4{
	z-index:7;
	left:43%;
}

#chara5{
	z-index:6;
	left:62%;
}



/* REPONSIVE */ 
/* REPONSIVE */ 
/* REPONSIVE */ 

@media only screen and (max-width: 700px) {
	#logo{width:41%;height:auto;}
	#chara1, #chara2, #chara3, #chara4, #chara5{height:85%;width:auto;bottom:2px;}
}

@media only screen and (max-width: 600px) {
	#chara1{left:42%;}
	#chara2{left:49%;}
	#chara3{left:35%;}
	#chara4{left:38%;}
	#chara5{left:55%;}
}

@media only screen and (max-width: 500px) {
	#chara1{left:30%;}
	#chara2{left:41%;}
	#chara3{left:23%;}
	#chara4{left:25%;}
	#chara5{left:49%;}
}

@media only screen and (max-width: 450px) {
	#chara1, #chara2, #chara3, #chara4, #chara5{height:60%;width:auto;}
	#chara1{left:14%;}
	#chara2{left:23%;}
	#chara3{left:5%;}
	#chara4{left:9%;}
	#chara5{left:30%;}
}

	
@media only screen and (max-width: 400px) {

	#chara1{left:11%;}
	#chara2{left:20%;}
	#chara3{left:3%;}
	#chara4{left:6%;}
	#chara5{left:28%;}
}

@media only screen and (max-width: 350px) {
	#red, #win, #click{width:61%;}
}

@media only screen and (max-width: 250px) {
	#red, #win, #click{width:63%;}
}

/* ANIMATIONS */ 
/* ANIMATIONS */ 
/* ANIMATIONS */ 


/* LOGO */
#logo {
    -webkit-animation: logo-slide 0.6s forwards;
    animation: logo-slide 0.6s forwards;
}

@-webkit-keyframes logo-slide {
	0% {margin-top: 100px;opacity:0;}
	85%{margin-top:-10px;opacity:1;}
    100% {margin-top: 0px;opacity:1;}
}

@keyframes logo-slide {
	0% {margin-top: 100px;opacity:0;}
	85%{margin-top:-10px;opacity:1;}
    100% {margin-top: 0px;opacity:1;}
}
/* LOGO */


/* CHARA1 */
#chara1 {
	opacity:0;
    -webkit-animation: chara1-slide 0.3s forwards;
    animation: chara1-slide 0.3s forwards;
	animation-delay: 0.8s;
	-webkit-animation-delay:0.8s;
	
}

@-webkit-keyframes chara1-slide {
	0% {opacity:0;bottom:-5px;margin-left:-5px;}
	100%  {opacity:1;bottom:1px;margin-left:1px;}
}

@keyframes chara1-slide {
	0% {opacity:0;bottom:-5px;margin-left:-5px;}
	100% {opacity:1;bottom:1px;margin-left:1px;}
}

/* CHARA2 */
#chara2 {
	opacity:0;
    -webkit-animation: chara2-slide 0.3s forwards;
    animation: chara2-slide 0.3s forwards;
	animation-delay: 0.9s;
	-webkit-animation-delay:0.9s;
}

@-webkit-keyframes chara2-slide {
	0% {opacity:0;bottom:-1px;margin-left:-8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}

@keyframes chara2-slide {
	0% {opacity:0;bottom:-1px;margin-left:-8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}


/* CHARA3 */
#chara3 {
	opacity:0;
    -webkit-animation: chara3-slide 0.3s forwards;
    animation: chara3-slide 0.3s forwards;
	animation-delay: 1s;
	-webkit-animation-delay:1s;
}

@-webkit-keyframes chara3-slide {
	0% {opacity:0;bottom:-1px;margin-left:8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}

@keyframes chara3-slide {
	0% {opacity:0;bottom:-1px;margin-left:8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}


/* CHARA4 */
#chara4 {
	opacity:0;
    -webkit-animation: chara4-slide 0.3s forwards;
    animation: chara4-slide 0.3s forwards;
	animation-delay: 1.1s;
	-webkit-animation-delay:1.1s;
}

@-webkit-keyframes chara4-slide {
	0% {opacity:0;bottom:-1px;margin-left:8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}

@keyframes chara4-slide {
	0% {opacity:0;bottom:-1px;margin-left:8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}


/* CHARA5 */
#chara5 {
	opacity:0;
    -webkit-animation: chara5-slide 0.3s forwards;
    animation: chara5-slide 0.3s forwards;
	animation-delay: 1.3s;
	-webkit-animation-delay:1.3s;
}

@-webkit-keyframes chara5-slide {
	0% {opacity:0;bottom:-1px;margin-left:-8px;}
	100% {opacity:1;bottom:1px;margin-left:0px;}
}

@keyframes chara5-slide {
	0% {opacity:0;bottom:-1px;margin-left:-8px;}
	100% {opacity:1;bottom:1px;margin-right:0px;}
}

/* RED */
#red {
	opacity:0;
    -webkit-animation: red-slide 3.4s forwards;
    animation: red-slide 3.4s forwards;
}

@-webkit-keyframes red-slide {
	0% {opacity:0; right:-120px;}
	15%{opacity:1;right:0px;}
	90%{opacity:1;}
	100% {opacity:0;}
}

@keyframes red-slide {
	0% {opacity:0; right:-120px;}
	15%{opacity:1;right:0px;}
	90%{opacity:1;}
	100% {opacity:0;}
}


/* WIN */
#win {
	opacity:0;
    -webkit-animation: win-slide 2.5s forwards;
    animation: win-slide 2.5s forwards;
	animation-delay: 3.4s;
	-webkit-animation-delay:3.4s;
}

@-webkit-keyframes win-slide {
	0% {opacity:0;right:-120px;}
	18% {opacity:1;right:0px;}
	90% {opacity:1;}
	100% {opacity:0;}
}

@keyframes win-slide {
	0% {opacity:0;right:-120px;}
	18% {opacity:1;right:0px;}
	90% {opacity:1;}
	100% {opacity:0;}
}


/* CLICK */
#click {
	opacity:0;
    -webkit-animation: click-slide 4s forwards;
    animation: click-slide 4s forwards;
	animation-delay: 5.9s;
	-webkit-animation-delay:5.9s;
}

@-webkit-keyframes click-slide {
	0% {opacity:0;right:-120px;}
	10% {opacity:1;right:0px;}
	100% {opacity:1;}
}

@keyframes click-slide {
	0% {opacity:0;right:-120px;}
	10% {opacity:1;right:-0px;}
	100% {opacity:100;}
}
